#TimeDateStamp is a field in the PE header which isn't touched by any 3rd party tool, so it
#will always work, even with heavily modified clients.
#Note: I was the first person with this idea for client identification :)

#Version is the client version as string. Doesn't have to match the client's
#internal version string.

#Send is the address of the opcode at which point PacketPointer
#is available before the packets gets encrypted.

#SendLen is the address of the opcode at which point PacketLen
#is available before the packets gets encrypted.

#Send must be different form SendLen


#Recv is the address of the opcode at which point PacketPointer
#is available after the packet has been decompressed and assembled.

#RecvLen is the address of the opcode at which point PacketLen
#is available after the packet has been decompressed and assembled.

#Recv must be different form RecvLen


#RegBuf and RegLen tell UOLog where to find the PacketLen and the PacketPointer.
#For RegBuf in Send, the packet is at [[RegBuf+4]], i haven't found better solution.


#RegCheck is used only on send in order to check if its value is 2, SpyUo must intercept the packet,
#otherwise it's not interesting.

#Registers: EAX=1, EBX=2, ECX=3, EDX=4, ESI=5, EDI=6, EBP=7

#The clients are sorted by compilation date.
#Syntax: <TimeDateStamp: <Version> <Send> <RegBuf> <SendLen> <RegLen> <RegCheck> <Recv> <RegBuf> <RecvLen> <RegLen>

4671D59C: "2.45.3.3 KR" 0 1 0 1 1 4EE4A3 1 4EE500 5
467B8814: "2.45.3.10 KR" 0 1 0 1 1 4F28C0 1 4F291D 5
468336F9: "2.45.4.3 KR" 0 1 0 1 1 4F8268 1 4F82C5 5
46847D3D: "2.45.4.4 KR" 0 1 0 1 1 4F8291 1 4F82EE 5
469BE8FC: "2.45.5.6 KR" 5255B3 3 5255B6 1 4 4FD7D7 1 4FD834 5
469EBA1F: "2.45.6.3 KR" 52ED9C 3 52ED9F 1 4 506C20 1 506C7D 5
46B15A96: "2.46.0.3 KR" 5993BB 3 5993BF 1 4 597205 1 597283 5
46C4EC42: "2.46.1.6 KR" 5DD727 6 5DD732 1 3 59D795 1 59D813 5


