version: 0.56.4.{build}
configuration: Nightly
pull_requests:
  do_not_increment_build_number: true
build:
  project: SphereSvr.vcxproj
  verbosity: minimal
after_build:
- cmd: mkdir accounts logs save scripts
- cmd: 7z a SphereSvr-Win32.zip accounts\ logs\ save\ scripts\ %APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\SphereSvr.exe %APPVEYOR_BUILD_FOLDER%\src\sphere.ini %APPVEYOR_BUILD_FOLDER%\src\sphereCrypt.ini %APPVEYOR_BUILD_FOLDER%\src\common\mysql\lib\libmysql.dll
artifacts:
- path: SphereSvr-Win32.zip
  name: SphereSvr
deploy:
  provider: FTP
  protocol: ftp
  host:
    secure: LjYrCGlwCyEGfBJ2fVvCF9pAlSlsob0eZaUnKrFWJTs=
  username:
    secure: UAZaqnbj2s8C/ObEXIg6xA==
  password:
    secure: 0tC8NEgCp8IBChlZ0ssFdzgwkD+iX3FykjKaRQe+03k=
  artifact: SphereSvr-Win32.zip